<!DOCTYPE html>
<html lang="en">

<head>
    </head>
  <body bgcolor="#add8e6">
  {% block content %}
<div class ="jumbotron">
    <div class="container">
        <hr>
        <h1><center>ВВЕДИТЕ ID СВОЕЙ СТРАНИЦЫ </center></h1>
        <form   action="podschet" method="POST" >

      {% csrf_token %}
   <center><p><input type="text",class="form-control" name="num1" placeholder="ID"> </center>

            <center> <input type="submit"></center>
         </form>
    <p>

   </p>
</divform>
    <center><img src='static/image/vk.png' width="30%" align="center" border="3" hspace="0%" vspace="0%" /></center>
    <hr>
</div>
</div>
  {% endblock %}
  </body>

</html>