<!DOCTYPE html>
<html lang="en">

<head>
   </head>

<body bgcolor="#add8e6">
{% block content %}
<div class ="jumbotron">
    <div class="container">
        <hr>
        <h1><center>РЕЗУЛЬТАТ </center></h1>
    </div>
    <center><tt><h1>{{ grade }}</h1></tt></center></center>
    <center><table>
        <thead>
        <tr>
            <th width="20%"><center>ДРУЗЬЯ</center></th>
          <th width="20%"> <center> ПОДПИСЧИКИ</center></th>
            <th width="20%"><center>ФОТО</center></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><center>{{ dictionary1 }}</center></td>
            <td><center>{{ dictionary2 }}</center></td>
            <td><center>{{ dictionary3 }}</center></td>
    </table></center>
    <center><img src="static/image/vk.png" width="30%" align="center" border="3" hspace="0%" vspace="0%" /></center>
    <hr>
</div>
{% endblock %}
</body>

</html>